.places__place {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}

@media screen and (max-width: 950px) {
    .places__place {
       padding-top: 73px;
    }
}

@media screen and (max-width: 740px) {
    .places__place {
       padding-top: 50px;
    }
}